.Home {
  text-align: center;
}


.body {
  background-color: #70ed8d;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px;
  font-family: Arial, sans-serif;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  width: 20rem;
  margin-bottom: 20px; /* Adjust the margin between cards */
}

.card:hover {
  box-shadow: 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top{
  width: 18rem;
  height: 15rem;
}


.container{
  font-size: large;
}