.about-container {
    background-color: #70ed8d; /* Your desired background color */
  }


.info-card {
    background-color: aliceblue;
    padding: 10px;
}


.info-card h2 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #000000;
}